<a href="{{ cart_link }}">
  <i class="las la-shopping-bag text-2xl"></i>
  {# <div
    class="
      absolute
      right-0
      hidden
      group-hover:block
      w-64
      border
      border-gray-200
      rounded-md
      p-4
      bg-white
    "
  >
    <span class="italic">Aún no tienes productos</span> #}
  </div>
</a>