<div @click="filterOpen = true" class="flex items-center flex-grow gap-2">
  <button class="flex items-center justify-center p-2 text-xl font-bold">
    <i class="las la-filter"></i>
  </button>
  <p class="woocommerce-result-count">
    {{msg}}
  </p>
</div>