{% if menu %}
	<ul class="flex w-full gap-4">
	{% for item in items %}
		<li
      class="{{ item.classes | join(' ') }} uppercase text-xs tracking-wider relative cursor-pointer group"
    >
			<a class="px-2 text-black visited:text-black" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
      {% if item.children %}<i class="las la-angle-down"></i>{% endif %}
			{% include "partial/dropdown-menu.twig" with {'items': item.children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
