<ul class="flex flex-col gap-1">
  {% for item in items %}
    <li class="{{ item.classes | join(' ') }} uppercase text-xs tracking-wider">
      <a class="text-black visited:text-black" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
      {% include "menu.twig" with {'items': item.children} %}
    </li>
  {% endfor %}
</ul>