<div class="flex items-center gap-2">
  <div class="flex items-center justify-center p-2 bg-red-600 rounded-sm">
    <i class="las la-exclamation-triangle"></i>
  </div>
  <span>{{ message }}</span>
</div>
<button
  class="flex items-center justify-center p-2 text-lg notice-close"
>
  <i class="las la-times-circle"></i>
</button>