@tailwind base;
@tailwind components;

[x-cloak] {
    @apply hidden;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-wider;
}

h1 {
    @apply text-4xl;
}
h2 {
    @apply text-3xl;
}
h3 {
    @apply text-2xl;
}
h4 {
    @apply text-xl;
}
h5 {
    @apply text-lg;
}

h6 {
    @apply text-base;
}

[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    @apply w-full rounded-sm border-primary focus:ring-dark focus:border-dark;
}

a {
    @apply text-secondary visited:underline visited:text-dark;
}

a.category-grid-item {
    @apply text-black visited:text-black visited:no-underline;
}

a:has(.las.la-shopping-bag) {
    @apply text-gray-900 visited:text-gray-900;
}

button.button,
a.button {
    @apply px-4 py-2 font-medium text-white rounded-sm bg-primary hover:bg-secondary;   
}

.article-content {
    @apply min-h-article-content;
}

.archive .content-wrapper {
    @apply container px-2 mx-auto;
}

.page-title, .article-h1 {
    @apply hidden my-10 text-3xl tracking-wider text-center uppercase;
}

.woocommerce-page .content-wrapper {
    @apply container px-2 mx-auto my-10;
}

.woocommerce-breadcrumb {
    @apply hidden;
}

.archive .woocommerce-notices-wrapper {
    @apply w-full;
}

.archive .woocommerce-result-count,
.archive .woocommerce-ordering {
    @apply w-full tracking-wider md:w-1/2;
}

.archive .woocommerce-ordering .orderby {
    @apply block w-full mr-0 md:w-auto md:ml-auto;
}

.archive .products {
    @apply grid gap-x-4 gap-y-8;
}

.archive .products.columns-4,
.archive .products.columns-2 {
    @apply grid-cols-2 md:grid-cols-3 xl:grid-cols-4;
}

.archive .product .button {
    @apply hidden;
}

.product .woocommerce-loop-product__title,
.wc-block-grid__product .wc-block-grid__product-title {
    @apply text-base font-normal tracking-wider text-black;
}

.product,
.wc-block-grid__product {
    @apply relative;
}

.product .woocommerce-LoopProduct-link.woocommerce-loop-product__link {
    @apply relative flex flex-col gap-2 tracking-wider;
}

.product .attachment-woocommerce_thumbnail,
.wc-block-grid__product .attachment-woocommerce_thumbnail {
    @apply w-full rounded-sm;
}

.product .price,
.wc-block-grid__product .price {
    @apply font-medium text-secondary;
}

.product .price ins {
    @apply no-underline;
}

.product .onsale,
.wc-block-grid__product .wc-block-grid__product-onsale {
    @apply absolute flex items-center justify-center w-10 h-10 text-sm text-white rounded-full right-2 top-2 bg-primary;
}

.single-product .wrapper:not(.header .wrapper) {
    @apply max-w-4xl mx-auto;
}

.single-product .product:not(.related.products .product) {
    @apply grid grid-cols-1 md:grid-cols-2 gap-x-10 gap-y-6;
}

.single-product .product .woocommerce-tabs.wc-tabs-wrapper {
    @apply col-start-1 col-end-3;
}

.single-product .product .onsale:not(.related.products .onsale) {
    @apply absolute;
}

.single-product .product .onsale:not(.related.products .onsale),
.single-product .woocommerce-product-gallery {
    @apply col-span-1 col-start-1;
}

.single-product .product .summary.entry-summary {
    @apply flex flex-col gap-2;
}

.single-product .product .summary.entry-summary .product_title {
    @apply text-xl tracking-wider;
}

.single-product .product form.cart {
    @apply flex flex-col items-stretch gap-2;
}

.single-product .product form.cart .quantity .input-text {
    @apply w-full;
}

.single-product .product .summary.entry-summary .product_meta {
    @apply flex flex-col gap-1;
}

.single-product .product .products .button {
    @apply hidden;
}

.single-product .product .woocommerce-product-gallery .woocommerce-product-gallery__wrapper {
    @apply flex flex-wrap gap-2;
}

.single-product .product .woocommerce-product-gallery .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image:first-child {
    @apply flex-grow;
}

/* related products */
.single-product .product .related.products {
    @apply flex flex-col col-span-1 col-start-1 gap-4 px-4 py-6 md:col-span-2 bg-gray-50;
}

.single-product .product .related.products .products {
    @apply grid grid-cols-1 gap-4 md:grid-cols-3 lg:grid-cols-4;
}


.single-product .related.products {
    @apply flex flex-col gap-4 px-4 py-6 bg-gray-50;
}

.single-product .related.products h2:not(.products .product h2) {
    @apply text-xl tracking-wider text-center;
}

.woocommerce-pagination {
    @apply flex justify-center mt-4;
}

.woocommerce-pagination .page-numbers {
    @apply flex items-center gap-4;
}

.woocommerce-pagination .page-numbers li .prev,
.woocommerce-pagination .page-numbers li .next {
    @apply items-center justify-center w-8 h-8 text-white bg-rose-2;
}

.wc-block-grid.has-4-columns .wc-block-grid__products {
    @apply grid grid-cols-2 gap-2 md:grid-cols-3 lg:grid-cols-4;
}

/* cart */

.cart-empty.woocommerce-info {
    @apply mb-4 italic text-center;    
}

.return-to-shop {
    @apply text-center;
}

.woocommerce-page .article-h1 {
    @apply hidden;
}

.woocommerce-page.woocommerce-cart .woocommerce-cart-form {
    @apply overflow-x-auto;
}

.woocommerce-page.woocommerce-cart .woocommerce-cart-form table.shop_table {
    @apply w-full border border-gray-300;
}

.woocommerce-page.woocommerce-cart .woocommerce-cart-form thead {
    @apply border border-gray-300;
}

.woocommerce-page.woocommerce-cart .woocommerce-cart-form tbody td {
    @apply p-2;
}

.woocommerce-page.woocommerce-cart .woocommerce-cart-form th {
    @apply p-2 text-sm tracking-wider text-left;
}

.woocommerce-page.woocommerce-cart .woocommerce-cart-form .product-remove a  {
    @apply flex items-center justify-center;
}

.woocommerce-page.woocommerce-cart .woocommerce-cart-form .product-thumbnail  {
    @apply hidden w-16 h-16 overflow-hidden rounded-sm md:table-cell;
}


.woocommerce-page.woocommerce-cart .woocommerce-cart-form .quantity input.qty {
    @apply w-20;
}

.woocommerce-page.woocommerce-cart .woocommerce-cart-form .actions {
    @apply border border-gray-300;
}

.woocommerce-page.woocommerce-cart .woocommerce-cart-form .coupon {
    @apply flex items-center gap-2 mb-2 md:float-left md:mb-0;
}

.coupon input.input-text {
    @apply w-1/2 md:w-auto;
}

.woocommerce-page.woocommerce-cart .woocommerce-cart-form [for="coupon_code"] {
    @apply hidden md:inline;
}

.woocommerce-page.woocommerce-cart .woocommerce-cart-form button[type="submit"] {
    @apply md:float-right;
}

.woocommerce-page.woocommerce-cart .cart_totals {
    @apply flex flex-col items-start gap-4 py-4;
}

.woocommerce-page.woocommerce-cart .cart_totals table.shop_table {
    @apply w-full max-w-md border border-gray-300;
}

.woocommerce-page.woocommerce-cart .cart_totals table.shop_table tr {
    @apply border border-gray-300;
}

.woocommerce-page.woocommerce-cart .cart_totals table.shop_table th,
.woocommerce-page.woocommerce-cart .cart_totals table.shop_table td {
    @apply p-2 text-left;
}

/* checkout */
.woocommerce-page.woocommerce-checkout form.checkout {
    @apply flex flex-col gap-6;
}

.woocommerce-page.woocommerce-checkout form.checkout .col2-set {
    @apply flex flex-col gap-6 md:flex-row;
}

.woocommerce-page.woocommerce-checkout form.checkout .col2-set .col-1,
.woocommerce-page.woocommerce-checkout form.checkout .col2-set .col-2 {
    @apply w-full md:w-1/2;
}

.woocommerce-page.woocommerce-checkout form.checkout .form-row {
    @apply flex flex-col gap-2;
}

.woocommerce-page.woocommerce-checkout form.checkout .woocommerce-billing-fields__field-wrapper,
.woocommerce-page.woocommerce-checkout form.checkout .woocommerce-shipping-fields__field-wrapper {
    @apply flex flex-col gap-2;
}

.woocommerce-page.woocommerce-checkout form.checkout .select2-selection.select2-selection--single {
    @apply flex items-center h-12 border-gray-500 rounded-sm;
}

.woocommerce-page.woocommerce-checkout form.checkout .select2-selection.select2-selection--single .select2-selection__arrow {
    @apply flex items-center h-12 -translate-y-1/2 border-gray-500 rounded-sm top-1/2;
}

.woocommerce-page.woocommerce-checkout form.checkout .select2-container .select2-dropdown {
    @apply border-gray-500;
}

.woocommerce-page.woocommerce-checkout .woocommerce-checkout-review-order {
    @apply flex flex-col max-w-lg gap-2;
}

.woocommerce-page.woocommerce-checkout .woocommerce-checkout-review-order .shop_table {
    @apply text-left;
}

.woocommerce-page.woocommerce-checkout .woocommerce-checkout-review-order .woocommerce-checkout-payment {
    @apply flex flex-col gap-2;
}

.woocommerce-page.woocommerce-checkout .woocommerce-checkout-review-order .woocommerce-terms-and-conditions-wrapper {
    @apply text-sm italic text-gray-500;
}

/* login */
.woocommerce-page.woocommerce-account .woocommerce h2 {
    @apply mb-4 text-center;
}
.woocommerce-form.woocommerce-form-login.login {
    @apply flex flex-col max-w-sm gap-3 mx-auto;
}
.woocommerce-form-row,
.form-row {
    @apply flex flex-col gap-2;
}

.woocommerce-notices-wrapper {
    @apply mb-6;
}

/* Facet WP */
.facetwp-facet {
    margin-bottom: 0 !important;
    @apply w-full;
}
.facetwp-checkbox {
    background: url('/app/themes/di-flowers/static/img/checkbox.svg') !important;
    background-position: left center !important;
    background-repeat: no-repeat !important;
    background-size: 1rem !important;
    padding-left: 1.25rem !important;
    @apply flex items-center justify-between w-full;
}

.facetwp-checkbox.checked {
    background: url('/app/themes/di-flowers/static/img/checkbox-checked.svg') !important;
    background-position: left center !important;
    background-repeat: no-repeat !important;
    background-size: 1rem !important;
    padding-left: 1.25rem !important;
}
.facetwp-counter {
    @apply flex items-center justify-center w-10 py-[2px] text-xs text-white rounded-full bg-primary;
}
.facetwp-counter:not(.facetwp-depth .facetwp-counter) {
    @apply hidden;
}
.facetwp-expand {
    @apply text-2xl;
}

button.facetwp-reset {
    @apply w-full px-4 py-2 text-white bg-primary;
}

@tailwind utilities;

/* comment */